<app-student></app-student>
<app-header></app-header>

<app-hero-section></app-hero-section>
 
  <main id="main">

  <app-featured-service></app-featured-service>

  <app-about-skills-section></app-about-skills-section>

  <app-counts-section></app-counts-section>

  <app-client-server-section></app-client-server-section>

  <app-testimonials-section></app-testimonials-section>

  <app-portfolio-section></app-portfolio-section>

  <app-team-pricing-section></app-team-pricing-section>

  <app-faq-section></app-faq-section>

  <app-contact-section></app-contact-section>

  </main><!-- End #main -->

 

  <app-footer></app-footer>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  

  <!-- Template Main JS File -->
  